<% content_for :titulo do %>
  <div style="display: flex; align-items: center; justify-content: center; margin-top: 60px;">
    <i class="material-icons medium left grey" style="margin-right: 10px;">map</i>
    <h2 style="margin-top: 4px; font-weight: 200;">Perros Encontrados</h2>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex">
      <a class="btn btn-primary anchor-new-celeste" href="<%= nuevo_encontrado_path %>"
        style="background-color: rgb(252, 145, 14);border: none; border-radius:2px; width:30%; letter-spacing:.5px; vertical-align:center;display: flex; align-items: center; justify-content: center; margin-top: 5%; margin-top:10%; margin-right:3%;">
        Agregar
        <i class="material-icons" style="margin-left: 15px;">add</i>
      </a>
      <% if current_user %>
        <a class="btn btn-primary anchor-new-celeste" href="<%= mis_publicaciones_encontrados_path(id: current_user.persona.id) %>"
          style="background-color: rgb(252, 145, 14); border: none; border-radius: 2px; width: 30%; letter-spacing: 0.5px; vertical-align: center; display: flex; align-items: center; justify-content: center; margin-top:10%;">
          Mis publicaciones
          <i class="material-icons" style="margin-left: 15px;">visibility</i>
        </a>
      <% end %>
      <%# <a class="btn btn-primary anchor-new-celeste" href="<%= perros_perdidos_y_encontrados_path %>
        <%# style="background-color: rgb(252, 145, 14);border: none; border-radius:2px; width:30%; letter-spacing:.5px; vertical-align:center;display: flex; align-items: center; justify-content: center; margin-top: 5%; margin-top:10%; margin-right:3%;"> %>
        <%# Ver Reencuentros %>
      <%# </a> %> 
    </div>
  </div>
<% end %>

<% content_for :body do %>

  <% if @encontrados.any? %>
    <div class="col-md-12 mx-auto">
      <div class="card" style="border-radius:0;">
        <div class="card-content">
          <table class="table" style="display: table; border-collapse: separate; border-spacing: 0; position: relative; width:100%;">
            <thead>
              <tr>
                <th>Lugar</th>
                <th>Dia</th>
                <th>Descripcio</th>
                <th>Color</th>
                <th>Tamanio</th>
                <th>Estado</th>
                <th>Contacto</th>
              </tr>
            </thead>
            <tbody>
              <% @encontrados.each do |encontrado| %>
                <% if encontrado.estado == 'Hallado' %>
                 <tr>
                  <td style="background-color: rgba(200, 247, 197);, 1"><%= encontrado.lugar %></td>
                  <td style="background-color: rgba(200, 247, 197);, 1"><%= encontrado.dia %></td>
                  <td style="background-color: rgba(200, 247, 197);, 1"><%= encontrado.descripcion %></td>
                  <td style="background-color: rgba(200, 247, 197);, 1"><%= encontrado.color %></td>
                  <td style="background-color: rgba(200, 247, 197);, 1"><%= encontrado.tamanio %></td>
                  <td style="background-color: rgba(200, 247, 197);, 1"><%= encontrado.estado %></td>
                  <td style="background-color: rgba(200, 247, 197);, 1"> - </td>
                  </tr>
                <% else %>
                <tr class="item-perdido-encontrado">
                  <td><%= encontrado.lugar %></td>
                  <td><%= encontrado.dia %></td>
                  <td><%= encontrado.descripcion %></td>
                  <td><%= encontrado.color %></td>
                  <td><%= encontrado.tamanio %></td>
                  <td><%= encontrado.estado %></td>
                  <td><%= encontrado.user.email %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% else %>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="card" style="border-radius: 0; position: relative; min-height: 100px;">
            <div class="card-content" style="position: relative; margin-bottom: 0;">
              <h4 class="mt-3">No hay registros de perros encontrados</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>


    <a class="btn btn-primary btn-volver" href="/"
    style="background-color: rgb(252, 145, 14);border: none; border-radius:2px; width:10%; letter-spacing:.5px; vertical-align:center;display: flex; align-items: center; justify-content: center">
    Volver
    <i class="material-icons" style="margin-left:15px;">undo</i>
  </a>

<% end %>
