
<% content_for :titulo do %>
  <div style="display: flex; align-items: center; justify-content: center; margin-top: 50px;">
    <i class="material-icons medium left grey" style="margin-right: 10px;">campaign</i>
    <h2 style="margin-top: 4px; font-weight: 200;">Encontrado</h2>
</div>
<% end %>

<% content_for :body do %>

  <div class="container">
    <div class="row justify-content-left">
      <div class="col-md-7">
        <div class="card" style="border-radius:0; margin-left:10%;">
          <div class="card-content">
            <%= form_with(model: @encontrado, local: true) do |form| %>
              <% if @encontrado.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@encontrado.errors.count, "error") %> prohibieron que este encontrado sea guardado:</h2>

                  <ul>
                    <% @encontrado.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="d-flex">
                <div class="field" style="margin-left:20%; margin-top:4%;" >
                  <%= form.text_field :lugar, class: "form-control", placeholder: "Zona en la que se encontró", style: "width:120%;", required: true %>
                </div>
              </div>

              <div class="d-flex">
                <div class="field" style="margin-left:20%; margin-top:4%;" >
                  <%= form.date_field :dia, required: true, style: 'width:170%;' %>
                </div>
              </div>

              <div class="d-flex">
                <div class="field" style="margin-left:20%; margin-top:4%;" >
                  <%= form.text_area :descripcion, class: "form-control", placeholder: "Alguna descripción que facilite el hallazgo del perro", style: "width:120%;", required: true %>
                </div>
              </div>

              <div class="d-flex">
                <div class="field" style="margin-left:20%; margin-top:4%;" >
                  <%= form.text_field :color, class: "form-control", placeholder: "Color del perro", style: "width:120%;", required: true %>
                </div>
              </div>

              <div class="d-flex">
                <div class="field" style="margin-left:20%; margin-top:4%;" >
                  <%= form.collection_select(:tamanio, Encontrado.tamanios.keys, :to_s, :humanize, prompt: "Tamaño", style: "width:220%;", required: true) %>
                </div>
              </div>

              <%= form.hidden_field :estado, value: 1 %>
              <%= form.hidden_field :user_id, value: current_user.id %>

              <div class="d-flex justify-content-center align-items-center" style="min-height: 100px;">
                <div class="actions">
                  <%= form.submit "Publicar perro"  , class: 'btn btn-primary', style: 'background-color: rgb(252, 145, 14); border: none; border-radius: 2px; width: 200px; height: 35px; letter-spacing: 0.5px; color: white;'%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

   <a class="btn btn-primary btn-volver" href="/encontrado_usuario"
    style="background-color: rgb(252, 145, 14);border: none; border-radius:2px; width:10%; letter-spacing:.5px; vertical-align:center;display: flex; align-items: center; justify-content: center">
    Volver
    <i class="material-icons" style="margin-left:15px;">undo</i>
  </a>
<%# <%= link_to 'Volver', perdido_encontrado_usuario_path, class: 'btn btn-secondary' %>

<% end %>
