<h1>Estimado cliente, </h1>
<p>
    
    Su turno fue registrado correctamente<br>
    Tendrá un turno de <%= @tipoturno.nombre %>, para <%= @perro.nombre %>, el día <%= @eldia %>.<br>
    El turno se encuentra ya confirmado y programado para dentro de 365 dias (refuerzo anual), en el mismo horario: <%= @lahora.strftime("%H:%M")%> <%= @franja %>.
    <br>
    Saludos Cordiales
</p>

<br><br><br>
<p>
    Esq. 1 y 47 - La Plata <br>
    Teléfono: (0221) 481-0392 <br>
    <br>
    Consultas todos los días de la semana:<br>
    Lunes a Sábados <br>
    &nbsp;&nbsp;&nbsp;&nbsp;-Horario mañana: de 8 a 13 Hs.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;-Horario tarde: de 15 a 23 Hs.<br>
</p>