<!--
  Esta vista la tiene el veterinario
  Es la parte que se fusiona con la vista de la persona del veterinario
  Se ven los perros asociados por cliente
-->



<% content_for :titulo do %>
  <br><br><br>
  <div style="display: flex; align-items: center;" >
    <i class="material-icons small left grey" style="margin-right: 10px;">pets</i>
    <h2 style="margin-top: 4px; font-weight: 200;"> Listado de Perros de <%= @persona.nombre %> <%= @persona.apellido %> </h2>
  </div>
<% end %> 

<% content_for :titulo_acciones do %>
  <br><br>
  <% if @persona.user.is_active %>
    <a class="btn btn-primary anchor-new-celeste" href="<%= new_persona_perro_path(@persona) %>"
      style="background-color: rgb(28, 150, 174); border: none; border-radius:2px; width:100%; letter-spacing:.5px; vertical-align:center;display: flex; align-items: center; margin-top:25px; justify-content: center">
      Agregarle un Perro
      <i class="material-icons" style="margin-left:15px;">add</i>
      <i class="material-icons" style="margin-left:15px;">pets</i>
    </a>
    <br>
  <% end %>
<% end %>


<% content_for :body do %>

<% if @perros.any? %>
  <div class="card" style="border-radius:0;">
    <div class="card-content">
      <table class="table" style="display: table; border-collapse: separate; border-spacing: 0; position: relative; width:100%;">
        <thead>
          <tr>
            <th style="max-width: 150px;">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Raza</th>
            <th scope="col">Sexo</th>
            <th scope="col">Color</th>
            <th scope="col">Descripción</th>
            <th scope="col">Antecedentes</th>
          </tr>
        </thead>
        <tbody>
          <% @perros.each_with_index do |perro, index| %>
            <tr>
              <td style="max-width: 150px;">
                <% if perro.foto.attached? %>
                  <%# <%= link_to image_tag(perro.foto, class: "img-thumbnail"), perro.foto, data: { lightbox: "perros" } %> 
                  <%= image_tag(perro.foto, class: "img-thumbnail", style: "width:45%; height: 45%;") %>
                <% else %>
                  <%= image_tag("perroPorDefecto.png", class: "img-thumbnail", style: "width: 45%; height: 45%;") %>
                <% end %>
              </td>
              <td><%= perro.nombre %></td>
              <td><%= perro.edad %> meses</td>
              <td><%= perro.tipo_raza.nombre %></td>
              <td><%= perro.sexo %></td>
              <td><%= perro.color %></td>
              <td><%= perro.descripcion %></td>
              <td><%= perro.antecedentes %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>

 <div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card" style="border-radius: 0; position: relative; min-height: 100px;">
        <div class="card-content" style="position: relative; margin-bottom: 0;">
          <h4 class="mt-3">No posee perros registrados.</h4>
          <img src="<%= asset_path('perroPaseadores2.png') %>" alt="Imagen" style="position: absolute; top: 0; right: 0; max-width: 15%; height: auto;">
        </div>
      </div>
    </div>
  </div>
</div>


<% end %>

 <br>
<a class="btn btn-primary btn-volver" href="/personas"
  style="background-color: rgb(28, 150, 174);border: none; border-radius:2px; width:10%; letter-spacing:.5px; vertical-align:center;display: flex; align-items: center; justify-content: center">
  Volver
  <i class="material-icons" style="margin-left:15px;">undo</i>
</a>

<% end %>
