<% content_for :titulo do %>
  <br><br><br>
  <div style="display: flex; align-items: center; text-align: center;">
    <i class="material-icons small left grey" style="margin-right: 10px;">pets</i>
    <h2 style="margin-top: 4px; font-weight: 200; margin-bottom: 0;">&nbsp; Mis perros en adopción</h2>
  </div>
<% end %> 

<% content_for :body do %>
  <% if @publicaciones.any? %>
    <div class="card" style="border-radius:0;">
      <div class="card-content">
        <table class="table" style="display: table; border-collapse: separate; border-spacing: 0; position: relative; width:100%;">
          <thead>
            <tr>
              <th scope="col">Sexo</th>
              <th scope="col">Tamaño</th>
              <th scope="col">Raza</th> 
              <th scope="col">Origen</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% @publicaciones.each do |publicacion| %>
              <% if publicacion.estado == "Publicado" %>
                <tr>
                  <td><%= publicacion.sexo %></td>
                  <td><%= publicacion.tamanio %></td>
                  <td><%= publicacion.tipo_raza.nombre %></td>
                  <td><%= publicacion.origen %></td>
                  <td>
                    <% if user_signed_in? && current_user.persona.id == publicacion.persona_id %>
                        <%= form_with(url: marcar_adoptado_path(publicacion.id), method: :post, class: 'confirm-form') do |form| %>
                          <button type="submit" class="btn-link" style="background:none; border:none; color: green;" data-bs-toggle="tooltip" data-bs-placement="top" title="Marcar como adoptado">
                            <i class="material-icons">check</i>
                          </button>
                        <% end %>
                    <% end %>
                  </td>
                </tr> 
              <% else %>
                <tr>
                  <td style="background-color: rgba(200, 247, 197);, 1"><%= publicacion.sexo %></td> 
                  <td style="background-color: rgba(200, 247, 197);, 1"><%= publicacion.tamanio %></td>
                  <td style="background-color: rgba(200, 247, 197);, 1"><%= publicacion.tipo_raza.nombre %></td>
                  <td style="background-color: rgba(200, 247, 197);, 1"><%= publicacion.origen %></td>
                  <td style="color:darkgreen; background-color: rgba(200, 247, 197);, 1">
                    ¡Adoptado!
                  </td>
                </tr> 
              <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  <% else %>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="card" style="border-radius: 0; position: relative; min-height: 100px;">
            <div class="card-content" style="position: relative; margin-bottom: 0;">
              <h4 class="mt-3">No tenés perros registrados en adopción</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <br>
  <a class="btn btn-primary btn-volver" href="/adopciones"
    style="background-color: rgb(252, 145, 14);border: none; border-radius:2px; width:10%; letter-spacing:.5px; vertical-align:center;display: flex; align-items: center; justify-content: center">
    Volver
    <i class="material-icons" style="margin-left:15px;">undo</i>
  </a>

   <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
  </script>
<% end %>
