<!--
  Esta vista no se que hace... alguno que la complete
-->
<!DOCTYPE html>
<html>
<head>
    <title>¡Oh My Dog!</title>
    <%= stylesheet_link_tag 'base' %>
    <%= javascript_include_tag 'base' %>
    <%= csrf_meta_tags %>
        
    <!-- Íconos para usar (Son los de google, Material Icons), chusmeenlos despues-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- jQuery (versión compatible con Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Carga tu archivo custom.js después de jQuery y Bootstrap -->
</head>

<body class="background-image-celeste">
    <%= render 'layouts/navbar' %>

    <% if flash[:notice] || flash[:alert] %>
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000">
              <div class="toast-header">
                <% if flash[:notice]%>
                  <strong class="me-auto">¡Éxito!</strong>
                <% else %>
                  <strong class="me-auto">Ups. Algo Salió mal..</strong>
                <% end %>
                <small>Ahora</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
              </div>
              <div class="toast-body">
                <%= flash[:notice] || flash[:alert] %>
              </div>
            </div>
          <% end %>

    <%# <%= yield :body %> <!-- Acá es donde se va a "incrustar" el código de las demas vistas--> 
      <main role="main">

        <div class="row">
          <div class="col-md-8" style="margin-left:30px;">
            <br>
            <%= yield :titulo %>
            <br>
          </div>
          <div class="col-md-3" style="margin-right:30px; padding:0px">
            <br>
            <%= yield :titulo_acciones %>
            <br>
          </div>
        </div>

        <div>
          <%= yield :body %>
        </div>
      </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script>
      var toastElList = [].slice.call(document.querySelectorAll('.toast'));
      var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl);
      });
      toastList.forEach(function (toast) {
        toast.show();
      });
    </script>
</body>

</html>
